<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="refresh.ManageSystem.repository.DepartmentRepository">
  <select id="getDepartmentNameById" resultType="String" parameterType="String">
    select department_name from department
    where department_uid in
    (select department_uid from member where member_id = #{value})
  </select>
  <select id="getDepartmentTotalById" resultType="int" parameterType="String">
    select count(*) from member group by department_uid having department_uid in (select department_uid from member where member_id = #{value})
  </select>
  <select id="getDepartmentNameList" resultType="String">
    select department_name from department
  </select>
</mapper>