<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="refresh.ManageSystem.repository.MemberRepository">
  <select id="login" resultType="string" parameterType="MemberDAO">
    select member_id from member where member_id = #{memberId} and member_password = #{memberPassword}
  </select>
  <select id="getAuthority" resultType="string" parameterType="MemberDAO">
    select member_auth from member where member_id = #{memberId} and member_password = #{memberPassword}
  </select>
  <select id="getMemberName" resultType="string" parameterType="MemberDAO">
    select member_name from member where member_id = #{memberId} and member_password = #{memberPassword}
  </select>
</mapper>