<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>연차 신청</title>
    <!-- tailwind 사용 -->
    <link rel="stylesheet" th:href="@{/dist/output.css}" />
    <script th:src="@{/src/pages/leaveRequest/leaveRequestAlert.js}"></script>
  </head>
  <body>
    <div th:replace="~{/fragments/header/header.html :: header}"></div>
    <div th:replace="~{/fragments/sidebar/sidebar.html :: sidebar}"></div>
    <main class="flex pt-20 mt-2 pl-64  flex-col">
      <form method="post" id="leave-request-form" th:action="@{/leaveRequest/confirmResult}" th:object="${LeaveRequestDTO}">
        <div class="flex justify-center mt-10">
          <div class="w-6/12 rounded-lg bg-white overflow-auto shadow-md">
            <div class="px-6 py-4">
                <!-- 연차 확인 -->
                <div class="mb-4">
                    <div>남은 연차: [[${annualCnt.remainCount}]]</div>
                    <div>사용한 연차: [[${annualCnt.usageCount}]]</div>
                </div>

                <!-- 연차 신청 폼-->
              <div class="mb-4">
                <input th:field="*{name}"
                       class="shadow border rounded w-full py-2 px-3 font-bold text-xl text-gray-700 focus:outline-none focus:ring focus:border-blue-50"
                       type="text" placeholder="신청인">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500">검증 오류</p>
              </div>
              <div class="mb-4">
                <label class="text-gray-700 font-bold mb-2" hidden>
                  신청인
                </label>

              </div>
                <div class="mb-4">
                    <label  class="text-gray-700 font-bold mb-2">
                        연차 종류
                    </label>
                    <div class="flex items-center">
                        <input th:field="*{leaveType}" type="radio" id="full-day" name="leaveType" value="full-day" class="form-radio h-5 w-5 text-gray-600">
                        <label for="full-day" class="ml-2 text-gray-700">연차</label>
                    </div>
                    <div class="flex items-center">
                        <input th:field="*{leaveType}" type="radio" id="am-half-day" name="leaveType" value="am-half-day" class="form-radio h-5 w-5 text-gray-600">
                        <label for="am-half-day" class="ml-2 text-gray-700">오전 반차</label>
                    </div>
                    <div class="flex items-center">
                        <input th:field="*{leaveType}" type="radio" id="pm-half-day" name="leaveType" value="pm-half-day" class="form-radio h-5 w-5 text-gray-600">
                        <label for="pm-half-day" class="ml-2 text-gray-700">오후 반차</label>
                    </div>
                    <p th:if="${#fields.hasErrors('leaveType')}" th:errors="*{leaveType}" class="text-red-500">검증 오류</p>
                </div>


                <div class="mb-4">
                  <label class="text-gray-700 font-bold mb-2">
                      기간
                  </label>
                  <input th:field="*{startDate}"
                         class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring focus:border-blue-50"
                         type="date" placeholder="시작일을 선택하세요.">
                  <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-red-500">검증 오류</p>
                  ~
                  <input th:field="*{endDate}"
                         class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring focus:border-blue-50"
                         type="date" placeholder="종료일을 선택하세요.">
                  <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-red-500">검증 오류</p>
              </div>
              <div class="flex justify-center">
                <button
                        id = "request-btn"
                        class="bg-blue-400 hover:bg-blue-500 text-black font-bold py-2 px-4 rounded-full"
                        type="submit">
                  신청
                </button>
                <button
                        class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 ml-3 rounded-full"
                        type="reset">
                  초기화
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
