<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>연차 관리 시스템</title>
    <script th:src="@{/src/pages/calendar/header/departmentOption/main.js}" type="module"></script>
    <script th:src="@{/src/pages/calendar/aside/asideDepartment/main.js}" type="module"></script>
    <script th:src="@{/src/pages/calendar/aside/asideMember/main.js}" type="module"></script>
    <script th:src="@{/src/pages/calendar/aside/asideHeader/main.js}" type="module"></script>
    <script th:src="@{/src/pages/calendar/main/main.js}" type="module"></script>
    <link rel="stylesheet" th:href="@{/dist/output.css}" />
    <style>
      #inner-container {
        height: calc(100% - 40px);
      }
      #aside-contents {
        width: 100%;
        height: calc(100% - 128px);
      }
    </style>
  </head>
  <body class="h-screen w-full">
    <div th:replace="~{/fragments/header/header.html :: header}"></div>
    <div class="flex w-full h-full">
      <div th:replace="~{/fragments/sidebar/sidebar.html :: sidebar}"></div>
      <main
        id="calendar"
        class="flex fixed top-20 left-72 w-full h-full justify-evenly flex-col max-w-screen-2xl z-0"
      >
        <header
          id="header-container"
          class="flex fixed left-cal-header h-fit top-table-header-top py-3 justify-center"
        >
          <button
            id="today-btn"
            class="whitespace-nowrap mr-10 px-2 py-0 h-9 m-auto rounded shadow leading-tight focus:outline-none focus:shadow-outline bg-white border border-border-400 hover:border-gray-500"
          >
            오늘
          </button>
          <label
            for="depart-cal-header"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          ></label>
          <select
            id="depart-cal-header"
            class="bg-gray-50 border m-auto border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-32 h-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          ></select>
          <button
            id="prev-btn"
            disabled
            class="mx-10 hover:-translate-y-1 hover:scale-110"
          ></button>
          <div id="calendar-header" class="ml-2"></div>
          <div
            id="mock-header"
            class="whitespace-nowrap text-2xl w-full font-bold text-center text-gray-800 py-2"
          >
            Calendar loading...
          </div>
          <a
            href="javascript:;"
            class="flex items-center modal-open-close text-gray-700 hover:text-gray-900 transition-all duration-300"
          >
            <svg
              class="fill-current modal-open-close w-6 h-6 ml-2 transform transition-all duration-300"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="modal-open-close"
                d="M10 13a1 1 0 0 1-.707-.293l-3-3a1 1 0 1 1 1.414-1.414L10 10.586l2.293-2.293a1 1 0 1 1 1.414 1.414l-3 3A1 1 0 0 1 10 13z"
              />
            </svg>
          </a>

          <button
            id="next-btn"
            disabled
            class="mx-10 hover:-translate-y-1 hover:scale-110"
          ></button>
        </header>
        <section class="flex absolute top-24 w-full h-table-height z-10 gap-10">
          <article
            id="cal-arrow-modal"
            class="fixed flex-col top-32 left-cal-modal border-2 border-zinc-950 bg-cal-modal w-60 h-48 z-10"
            style="display: none"
          >
            <div class="flex justify-between z-10">
              <div class="m-2">직접 선택</div>
              <button
                class="flex items-center justify-center w-8 h-8 rounded-ful focus:outline-none modal-exit-btn"
              >
                <svg
                  class="w-4 h-4 text-gray-600 modal-exit-btn"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M6.354 6.354a.5.5 0 0 1 .708 0L10 9.293l3.938-3.939a.5.5 0 0 1 .707.707L10.707 10l3.938 3.938a.5.5 0 0 1-.707.707L10 10.707l-3.939 3.938a.5.5 0 0 1-.708-.707L9.293 10 5.354 6.062a.5.5 0 0 1 0-.708z"
                    class="modal-exit-btn"
                  />
                </svg>
              </button>
            </div>
            <div id="inner-container" class="relative z-10">
              <div class="flex absolute h-full justify-evenly w-full z-10" id="modal-container">
                <div id="inner-year" class="overflow-y-scroll w-full"></div>
                <div id="inner-month" class="overflow-y-scroll w-full"></div>
              </div>
            </div>
          </article>
          <table
            class="border-1 border-table-rgba relative z-0 px-2 bg-white table-fixed w-table-width h-table-height"
          >
            <thead class="border-1 border-table-rgba px-4 py-2 bg-black-600">
              <tr>
                <th
                  class="border-1 text-holiday bg-table-rgba border-table-rgba px-4 py-2 w-td-width"
                >
                  Sun
                </th>
                <th class="border-1 bg-table-rgba border-table-rgba px-4 py-2 w-td-width">Mon</th>
                <th class="border-1 bg-table-rgba border-table-rgba px-4 py-2 w-td-width">Tue</th>
                <th class="border-1 bg-table-rgba border-table-rgba px-4 py-2 w-td-width">Wed</th>
                <th class="border-1 bg-table-rgba border-table-rgba px-4 py-2 w-td-width">Thu</th>
                <th class="border-1 bg-table-rgba border-table-rgba px-4 py-2 w-td-width">Fri</th>
                <th class="border-1 bg-table-rgba border-table-rgba px-4 py-2 w-td-width">Sat</th>
              </tr>
            </thead>
            <tbody id="main"></tbody>
            <tbody id="mock-table" class="px-8 py-8 bg-gray-100">
              <tr>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
              </tr>
              <tr>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
              </tr>
              <tr>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
              </tr>

              <tr>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
              </tr>
              <tr>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
              </tr>
              <tr>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
                <td class="border-1 border-table-rgba w-td-width h-td-height"></td>
              </tr>
            </tbody>
          </table>
          <aside
            class="flex flex-col w-aside h-table-height relative bg-white rounded-lg shadow-lg"
          >
            <label for="annual" class="hidden">annual</label>
            <div class="absolute top-0 left-5 flex border-red-100 rounded-lg h-32">
              <select
                id="search-option"
                class="w-36 h-9 p-1 text-sm mr-16 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                <option selected>연차 검색 옵션</option>
                <option value="department">부서로 찾기</option>
                <option value="member">사람 이름으로 찾기</option>
              </select>
              <div id="department" class="hidden">
                <select
                  id="department-select"
                  class="block h-9 w-36 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                ></select>
              </div>
              <div id="member" class="hidden">
                <div class="relative rounded-md shadow-sm">
                  <input
                    type="text"
                    name="name"
                    id="member-input"
                    class="form-input w-36 h-9 p-2 block sm:text-sm sm:leading-5 border-2"
                    placeholder="이름을 입력하세요."
                    required
                  />
                  <div class="absolute inset-y-0 right-0 flex items-center pr-2">
                    <svg class="h-4 w-4 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                      <path
                        fill-rule="evenodd"
                        d="M16.707,15.293 L12.414,11 L16.707,6.707 C17.098,6.316 17.098,5.684 16.707,5.293 C16.316,4.902 15.684,4.902 15.293,5.293 L10,10.586 L4.707,5.293 C4.316,4.902 3.684,4.902 3.293,5.293 C2.902,5.684 2.902,6.316 3.293,6.707 L7.586,11 L3.293,15.293 C2.902,15.684 2.902,16.316 3.293,16.707 C3.488,16.902 3.744,17 4,17 C4.256,17 4.512,16.902 4.707,16.707 L10,11.414 L15.293,16.707 C15.488,16.902 15.744,17 16,17 C16.256,17 16.512,16.902 16.707,16.707 C17.098,16.316 17.098,15.684 16.707,15.293 Z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="flex items-center absolute top-16 whitespace-nowrap mb-4">
                <input
                  id="checkbox-for-except"
                  type="checkbox"
                  value=""
                  class="w-4 h-4 ml-1 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label
                  for="annual-checkbox"
                  class="ml-2 text-xs font-medium text-gray-900 dark:text-gray-300"
                  >완료 연차 제외</label
                >
              </div>
            </div>
            <article
              id="aside-contents"
              class="absolute top-28 w-full px-2 overflow-y-scroll"
            ></article>
            <div id="aside-contents-status" class="absolute bottom-0 left-1/2 hidden">
              <svg
                aria-hidden="true"
                class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill"
                />
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          </aside>
        </section>
      </main>
    </div>
  </body>
</html>
