<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>헤더</title>
    <!-- tailwind 적용 -->
    <link rel="stylesheet" href="/dist/output.css" />
  </head>
  <body>
<!--    th:fragment="템플릿 조각 이름" -> th:fragment="header" -> header라는 템플릿 조각을 만든 것-->
    <header th:fragment="header">
      <div
        class="flex justify-between border-b border-b-slate-300 px-4 lg:px-12 py-6"
      >
        <!-- 로고 영역 -->
        <h1 class="flex items-center">
          <a th:href="@{/}" class="flex items-center">
            <img
              src="/src/assets/images/logo.svg"
              alt="리프레쉬 사이트 로고"
              class="mr-4 h-12 sm:h-16"
            />

            <div class="text-4xl font-black">
              <span class="text-sky-500">RE</span>fresh
            </div>
          </a>
        </h1>

        <!-- 로그인 영역 -->
        <div class="flex items-center text-center">
          <!-- 로그인한 경우 -->
          <a href="#" class="flex-row items-center text-center" th:if="${#session != null}">
            <img
              src="/src/assets/images/user.svg"
              alt="로그인 계정 이미지"
              class="h-12 sm:h-16"
            />
<!--            로그인 사용자명-->
            <div class="font-semibold" th:text="${MemberLogin.memberName}"></div>
          </a>

          <!-- 로그인 하지 않은 경우 -->
          <a href="#" class="flex items-center" th:if="${#session == null}">
            <button
              type="button"
              class="text-white bg-sky-400 hover:bg-sky-600 px-2 sm:px-5 py-1 sm:py-2.5 rounded-xl font-semibold"
            >
              로그인
            </button>
          </a>
        </div>
      </div>
    </header>
  </body>
</html>
